#tcwnn-logo-full {
    max-width: calc(100% - 4em);
    width: 35em;
}

#header > header > p {
    max-width: calc(100% - 4em);
    width: 35em;
    margin: 2em auto;
    padding: 1em;
    border-radius: 1em;
    background-color: rgba(50,50,50, 0.5);
    ;
}

.splash {
 margin: 1em;
 padding: 0 2em;
 vertical-align: middle;
}

.tcwnn-fb-logo{
    max-width: 50%;
    border: none;
}

#join > div > div > ul {
    list-style-type: none;
    padding: 1em
}
#join > div > div > ul >li {
    padding: 0.5em
}
#footer {
    min-height: fit-content;
}
.copyright {
    color: #000;
}