#tcwnn-logo-full {
    margin-top: 3em; 
    max-width: 90%;
    width: 35em;
}

#header {
    height: 100vh;
}
#header > header > p {
    max-width: calc(100% - 4em);
    color:#FFF;
    width: 35em;
    margin: 2em auto;
    padding: 1em;
    border-radius: 1em;
    background-color: rgba(50,50,50, 0.5);
    ;
}

a.email-link {
    margin: 2rem auto;
}

.splash {
 margin: 1em;
 padding: 0 2em;
}


.tcwnn-fb-logo{
    max-width: 50%;
    border: none;
}

ul {
    list-style-type: none;
    padding: 1em
}
li {
    padding: 0.5em
}

ul > li > img {
    max-width: 90px;
    max-height: 90px;
}

#footer {
    min-height: fit-content;
}
.copyright {
    color: #000;
}